.shelf-banner {
    background-color: #D34735;
    height: 110px;
    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.logo-container {
    background-color: #ab2a19;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container img {
    height: 55px;
    width: 55px;
}
.shelf-title {
    display: flex;
    align-items: center;
    font-size: 2.1rem;
    margin-left: 25px;
}
.logo-link {
    display: flex;
}
.bin-container {
    display: flex;
    flex-direction: column;
    padding-left: 20vw
}


